h3 Welcome to Course Management System!
//-if no user is active
if !status                      

    table
        tr
            td
                a(href='/register' )
                    label Register

            td
                a(href='/login')
                    label Login

            td    
                a(href='/viewall')
                    label All Courses
else
    h4 Hello! #{User.regno} 

    table 
        tr
            td
                a(href='/viewall')
                    Label View all Courses
            td 
                a(href='/enrolledcourses/' + User.regno)
                    Label View Enrolled Courses
            td
                a(href='/logout/')
                    Label Logout

            





