h2 Login


form(action="/loginuser" method="post")
    table 
        tr
            td
                label Registration Number 
            td
                input(type="text" name="regno")    
        
        tr
            td
                label Password
            td
                input(type="password" name="password")  
    input(type="submit" value="Login")