h2 Register

form(action="/registeruser" method="post")
    table 
        tr 
            td
                label Name 
            td
                input(type="text" name="name")
        
        tr
            td
                label Registration Number 
            td
                input(type="text" name="regno")    
        
        tr
            td
                label Password
            td
                input(type="password" name="password")  
    input(type="submit" value="Register")